body {
    background-color: white;
    font-family: Arial, sans-serif;
}

form {
    background-color: pink;
    width: 500px;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

img {
    margin: 10px;
}

table {
    margin: auto;
}

label {
    font-size: 16px;
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 10px;
}
